@charset "utf-8";
/* anime */
.aa
{-o-transition:all .16s cubic-bezier(.7,0,.3,1);transition:all .16s cubic-bezier(.7,0,.3,1);-webkit-transform:all .16s cubic-bezier(.7,0,.3,1);-ms-transform:all .16s cubic-bezier(.7,0,.3,1);transform:all .16s cubic-bezier(.7,0,.3,1);-webkit-transition:all .16s cubic-bezier(.7,0,.3,1);}

/* kvWrap */
.headerWrap .kvWrap { height:550px; overflow:hidden; position: relative; margin: 110px 0 0 0;}
.headerWrap .kvWrap ul {}
.headerWrap .kvWrap ul li {height:650px; background-position:center top !important; background-size:cover !important; display:flex; display:-webkit-flex; display:-ms-flexbox; justify-content:center; align-items:center; -webkit-justify-content:center; -webkit-align-items:center; -ms-flex-pack:center; -ms-flex-align:center; background-position:center top !important; background-size:cover !important;}
.headerWrap .kvWrap ul li::before {content:''; display:block; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0, 0, 0, 0.3); z-index:1;}
.headerWrap .kvWrap ul li .desc {text-align:center; color:#fff; position:relative; z-index:2; top: -220px;}
.headerWrap .kvWrap ul li .desc strong {display:block; font-size:36px; line-height:50px; margin-bottom:20px; word-break:keep-all;}
.headerWrap .kvWrap ul li .desc p {font-size:17px; line-height:25px; word-break:keep-all;}

.headerWrap .kvWrap .bx-controls {position:absolute; left:0; right:0; top:180px; z-index:2;}
.headerWrap .kvWrap .bx-controls .bx-pager {text-align:center;}
.headerWrap .kvWrap .bx-controls .bx-pager .bx-pager-item {display:inline-block; vertical-align:middle;}
.headerWrap .kvWrap .bx-controls .bx-pager .bx-pager-item a {display:block; background:#333d49; box-sizing:border-box; width:13px; height:13px; margin:0 4px; border-radius:50%; font-size:0;}
.headerWrap .kvWrap .bx-controls .bx-pager .bx-pager-item a.active {background:#333d49; width: 40px; border-radius: 30px;}
.headerWrap::after {display: block; content: ""; clear: both;}

@media (max-width:1280px) {
	
    .headerWrap .kvWrap {height:250px; margin: 70px 0 0 0;}
    .headerWrap .kvWrap ul li {height:400px;}
    .headerWrap .kvWrap ul li .desc {margin:0 40px; top: -100px;}
    .headerWrap .kvWrap ul li .desc strong {font-size:30px; line-height:36px; margin-bottom:20px;}
    .headerWrap .kvWrap ul li .desc p {font-size:18px; line-height:24px;}
}


@media (max-width:640px) {
    .headerWrap .kvWrap {height:150px;}
    .headerWrap .kvWrap .bx-controls {top: 105px;}
    .headerWrap .kvWrap ul li .desc {top: -135px}
    .headerWrap .kvWrap ul li .desc strong {font-size: 19px; line-height: 1.5; font-weight: 500;}
    .headerWrap .kvWrap ul li .desc p br {display: none;}
} 


.body_contents {width: 1280px; margin: 0 auto;}

/* UI - main_container
------------------------------------------------*/
.popupzone {height: 0;}
.popupzone .resWidth { position: relative;}
.popupzone::after {display: block; content: ""; clear: both;}
.popupzone .columnWrap {display: inline-block;}
.popupzone .columnWrap .sliderWrap {width:415px; background:#fff; position: absolute; top: -302px; right: 0;; border: 1px solid #cfcfcf;}

/* .popupzone .columnWrap .sliderWrap {width:calc(100% - 855px); background:#fff; position:relative; float: right; top: -302px; border: 1px solid #cfcfcf;} */
/* main key visual */
.popupzone .columnWrap .sliderWrap .mkv {width: 715%; position: relative; transition-duration: 0.5s; transform: translate3d(-2583px, 0px, 0px);}
.popupzone .columnWrap .sliderWrap .mkv li { height:275px; float: left; list-style: none; position: relative; width: 861px;/*background-position: center top !important;  background-size: contain !important;*/}
.popupzone .columnWrap .sliderWrap .mkv li img { width:100%; max-width:100%; height:100%;}
.popupzone .columnWrap .sliderWrap .mkv li .desc {position:absolute; left:0; right:210px; bottom:0; height:38px; padding:0 20px; background:rgba(0,0,0,0.8); color:#fff; line-height:38px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}

/* slider tuning */
.popupzone .columnWrap .sliderWrap .bx-wrapper {max-width: 100%;}
.popupzone .columnWrap .sliderWrap .bx-wrapper .bx-viewport {width: 100%; overflow: hidden; position: relative;}
.popupzone .columnWrap .sliderWrap .bx-controls {position:absolute; bottom:0; right:0;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-direction {position:absolute; bottom:0; right:0;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-direction a {display: block; width:38px; height:38px; background:url(../img/main/ico_mkvControl.png)rgba(0,0,0,0.8) no-repeat; position:absolute; bottom:0;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-direction .bx-prev {right:80px;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-direction .bx-next {background-position:right top; right: 0;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-auto {position:absolute; bottom:0; right:40px;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-auto .bx-controls-auto-item {}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-auto .bx-controls-auto-item a {display:block; width:38px; height:38px; background:url(../img/main/ico_mkvControl.png)rgba(0,0,0,0.8) no-repeat;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-auto .bx-controls-auto-item .bx-start {background-position:0px -38px;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-controls-auto .bx-controls-auto-item .bx-stop {background-position:-38px -38px;}
.popupzone .columnWrap .sliderWrap .bx-controls .bx-pager {position:absolute; right:120px; bottom:0px; height:38px; line-height:38px; width:88px; background:rgba(0,0,0,0.8); text-align:center; color:#fff;}
.popupzone .columnWrap .sliderWrap .bx-controls a {font-size:0;}

@media (max-width:1280px) { 
    
	.popupzone .columnWrap .sliderWrap {width:calc(100% - 560px); top: -312px;} 
}

 
@media (max-width:990px) {
	
    .popupzone {height: 100%; margin-bottom: 30px;}
    .popupzone .columnWrap {display:block;}
    .popupzone .columnWrap .sliderWrap {width:100%; float: none; position: inherit;}
    .popupzone .columnWrap .sliderWrap .mkv li {height:300px; height:auto;}

}







/* section_01 */
.section_01 {}
.section_01:after {content:''; display:block; clear: both;}
.section_01 .columnWrap {}
.section_01 .columnWrap .noticeWrap {width:815px; height:280px; position: absolute; box-sizing:border-box; z-index:1; top: 350px;}
.section_01 .columnWrap .noticeWrap #tabNav1{position:relative;overflow:hidden;  }
.section_01 .columnWrap .noticeWrap #tabNav1:after{display:block; content:""; clear:both;}
.section_01 .columnWrap .noticeWrap #tabNav1 h3{position:absolute;  background:none; padding:0px; margin:0px; top:4px;} 
.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0101 { }
.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0101 a {   }
.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 {left:94px;  }
.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 a { background:none; margin-left:23px;}
.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 {left:224px; }
.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 a { background:none; margin-left:23px; }


.section_01 .columnWrap .noticeWrap #tabNav1 h3.on a{color:#fff; font-weight:600; border-bottom: 2px solid #fff;}
.section_01 .columnWrap .noticeWrap #tabNav1 h3 a{ position:relative; display:block; margin:0px; box-sizing:border-box; height:30px; text-align:left; text-decoration:none; font-size:22px; color:#fff; letter-spacing:-2px; font-weight: normal;}
.section_01 .columnWrap .noticeWrap #tabNav1 h3:before {content:''; display:block; width:4px; height:4px; background:#fff; border-radius:50%; position:absolute; top:8px; left:0px;}
.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0101:before{ display:none;}

.section_01 .columnWrap .noticeWrap #tabNav1 div{ margin:54px 0 0px 0px;}
.section_01 .columnWrap .noticeWrap #tabNav1 ul {display: inline-flex; margin-left: -5px;}
.section_01 .columnWrap .noticeWrap #tabNav1 ul li {display:inline-block; position:relative; width: 265px; height: 223px; background: #fff; margin: 5px;}

.section_01 .columnWrap .noticeWrap #tabNav1 ul li a { width:100%; font-size:16px; font-weight:400; position:relative; color:#111; padding: 20px 0;}

/* .section_01 .columnWrap .noticeWrap #tabNav1 ul li a img { margin:4px 0 0 7px; } */
.section_01 .columnWrap .noticeWrap #tabNav1 ul li span {display: inline-block; margin: 20px 0 10px 20px; padding: 5px 20px; background: #26c48e; color: #fff;}
.section_01 .columnWrap .noticeWrap #tabNav1 ul li em {font-style:normal; font-size:21px; font-weight:600; display: block; margin: 0 20px 15px 20px; text-overflow:ellipsis; overflow:hidden; line-height: 1.3;
/* white-space: nowrap; display: block;    */
margin-bottom: 15px;
white-space:normal; word-wrap: break-word; 
display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; 
}
.section_01 .columnWrap .noticeWrap #tabNav1 ul li em.short {margin-bottom: 45px;}
.section_01 .columnWrap .noticeWrap #tabNav1 ul li p {text-overflow:ellipsis; overflow:hidden; text-align: left; color: #8e8e8e;margin: 0 20px;
/* word-wrap: break-word; white-space: nowrap; display: block; */
white-space: normal; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; 
}
.section_01 .columnWrap .noticeWrap #tabNav1 span.more { position:absolute; top:150px; right:5px; background: none;}
.section_01 .columnWrap .noticeWrap #tabNav1 span.more a{display: block; font-size: 0; width: 28px; height: 28px; padding: 0; background: url(../img/page/more.png) no-repeat;}

.section_01 .columnWrap .noticeWrap #tabNav1 .more_btn {top: 11px; position: absolute; right: 0;}
.section_01 .columnWrap .noticeWrap #tabNav1 .more_btn a {padding: 7px 20px; background: none; color: #fff; font-size: 17px; border: 1px solid #fff; font-weight: 600;}

 
@media (max-width:1280px) { 
    .section_01 {margin-bottom: 30px;}
    .section_01 .columnWrap .noticeWrap {position: static; margin-top: 30px; width: 545px;}
    .section_01 .columnWrap .noticeWrap #tabNav1 h3.on a{color: #2d9d6b; border-bottom: 2px solid #2d9d6b;}
    .section_01 .columnWrap .noticeWrap #tabNav1 h3 a {color: inherit; font-size: 20px;}
    .section_01 .columnWrap .noticeWrap #tabNav1 h3:before {background: #c1c1c1;}
    .section_01 .columnWrap .noticeWrap #tabNav1 ul li {border: 1px solid #cfcfcf;}
    .section_01 .columnWrap .noticeWrap #tabNav1 ul li:last-child {display: none;}
    .section_01 .columnWrap .noticeWrap #tabNav1 .more_btn a {color: inherit; border: 1px solid #333;}
    .section_01 .columnWrap .noticeWrap #tabNav1 div {margin: 45px 0 0px 0px}

    /* .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 {left:90px;  }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 a { padding-left:18px; width:100px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 {left:190px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 a {padding-left:18px; width:100px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0104 {left:290px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0104 a {padding-left:18px; width:110px;} 
    .section_01 .columnWrap .noticeWrap #tabNav1 h3 a{ width:90px; font-size:20px;}  */

}


@media (max-width:990px) {     

    .section_01 .columnWrap  {display:block;}
    .section_01 .columnWrap .noticeWrap {width:100%; height:auto;}
    .section_01 .columnWrap .noticeWrap #tabNav1 ul {display: block;}
    .section_01 .columnWrap .noticeWrap #tabNav1 ul li {width: calc(100% - 10px);}
    .section_01 .columnWrap .noticeWrap #tabNav1 ul li:last-child {display: block;}
    .section_01 .columnWrap .noticeWrap #tabNav1 .more_btn {right: 3px;}

}


@media (max-width:640px) { 

	
	.section_01 .columnWrap .noticeWrap #tabNav1 h3 a{padding-left:0px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 {left:65px;  }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 a, 
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 a {margin-left: 15px;}
	.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 {left:160px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3 a{font-size:17px;}
    .section_01 .columnWrap .noticeWrap #tabNav1 .more_btn {top: 7px;}
    .section_01 .columnWrap .noticeWrap #tabNav1 .more_btn a {font-size: 15px; padding: 5px 5px;}
    .section_01 .columnWrap .noticeWrap #tabNav1 span.more {right:0px;}

}



@media (max-width:320px) { 
 
	
	.section_01 .columnWrap .noticeWrap #tabNav1 h3 a{padding-left:0px; }
	.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 {left:55px;  }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 a {width:60px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0102 a, 
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 a {margin-left: 10px;}
	.section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 {left:130px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3#tabNavTitle0103 a {width:50px; }
    .section_01 .columnWrap .noticeWrap #tabNav1 h3 a{ width:50px; font-size:15px;}
	.section_01 .columnWrap .noticeWrap #tabNav1 span.more {right:0px;}
	 
}



/* section_02 */
.section_02 {padding:25px 0 35px 0; background:#f3f3f3;}
.section_02 .iconWrap {}

.section_02 .iconWrap .iconArea {width:100%;}
.section_02 .iconWrap .iconArea a {font-size:18px; color:#222; font-weight:600; text-align:center; transition:transform 600ms ease-in-out 0s; width: 25%;}
.section_02 .iconWrap .iconArea a:hover {transform:rotateY(360deg);}
.section_02 .iconWrap .iconArea a br { display:none;}
.section_02 .iconWrap .iconArea a::before {content:''; display:block; width:70px; height:65px; margin:0 auto 10px; background:url(../img/main/iconArea.png) no-repeat;}
.section_02 .iconWrap .iconArea a.icon_area01::before {background-position:center 0px;}
.section_02 .iconWrap .iconArea a.icon_area02::before {background-position:center -75px;}
.section_02 .iconWrap .iconArea a.icon_area03::before {background-position:center -150px;}
.section_02 .iconWrap .iconArea a.icon_area04::before {background-position:center -218px;}

.section_02 .iconWrap .iconArea a.icon_area01::after,
.section_02 .iconWrap .iconArea a.icon_area02::after, 
.section_02 .iconWrap .iconArea a.icon_area03::after {display: inline-block; content: ""; width: 1px; height: 40px; background: #d9d9d9; float: right;  margin-top: -50px;}
 
@media (max-width:990px) {
    

    .section_02 {padding:20px 0;}
    .section_02 .iconWrap {display:block;}

    .section_02 .iconWrap .iconArea {display:block; width:100%; font-size:0;}
    .section_02 .iconWrap .iconArea a {display:inline-block; width:50%;}

    .section_02 .iconWrap .iconArea a.icon_area01::after,
    .section_02 .iconWrap .iconArea a.icon_area02::after,
    .section_02 .iconWrap .iconArea a.icon_area03::after {background: none;} 

}


@media (max-width:640px) {
	
.section_02 .iconWrap .iconArea a {font-size:16px;}
.section_02 .iconWrap .iconArea a br { display: block;}

}

/*body_contents*/
.body_contents {position: relative;}


/* prWrap */
.prWrap {margin: 0 auto; width: 1280px;}
.prWrap .title {margin: 55px auto 10px auto; text-align: center; width: 1280px;}
.prWrap .title h3 {font-size:32px; font-weight: 600;}
.prWrap .title .prTab {display: inline-flex; margin: 30px 0;}
.prWrap .title .prTab select{border-radius: 5px; border:1px solid #ccc !important; width: 180px; float: left;}
.prWrap .title .prTab a {background: #ffc949; width: 100px; height: 40px; line-height: 40px; display: inline-block; margin-left: 10px; border-radius: 5px;}
.prWrap .title .prTab a::after {display: inline-block; content: ""; width: 18px; height: 16px; background: url(../img/page/pr_icon.png) no-repeat left 1px; margin-left: 25px;}
.prWrap .pr_content {display: inline-flex; margin-bottom: 120px; width: 100%;}
.prWrap .pr_content .left {width: 560px;}
.prWrap .pr_content .left .video {position: relative; height:0; padding-bottom: 56.25%;}
.prWrap .pr_content .left .video iframe {position: absolute; width:100%; height:100%;}
.prWrap .pr_content .right{padding-left: 40px; display: inline-flex;}
.prWrap .pr_content .right dl {display: inline-block; width: calc(33.3% - 5px); margin: 0 5px;}
.prWrap .pr_content .right dl:first-child {margin-left: 0;}
.prWrap .pr_content .right dl:last-child {margin-right: 0;}
.prWrap .pr_content .right dl img {border: 1px solid #dfdfdf;}
.prWrap .pr_content .right dl dt {margin: 15px 0 30px 0; font-weight: 600;}
.prWrap .pr_content .right dl dd span {background: url(../img/main/pr_icon.png) no-repeat; display: inline-block; width: 34px; height: 12px; float: right; margin-top: 8px; padding-right: 5px;}
.prWrap .pr_content .right_m {display: none; width: calc(100% - 600px); padding-left: 40px; }
.prWrap .pr_content .right_m dl {display: inline-block; width: calc(33.3% - 5px); margin: 0 5px;}
.prWrap .pr_content .right_m dl:first-child {margin-left: 0;}
.prWrap .pr_content .right_m dl:last-child {margin-right: 0;}
.prWrap .pr_content .right_m dl img {border: 1px solid #dfdfdf;}
.prWrap .pr_content .right_m dl dt {margin: 15px 0 30px 0; font-weight: 600;}
.prWrap .pr_content .right_m dl dd span {background: url(../img/main/pr_icon.png) no-repeat; display: inline-block; width: 34px; height: 12px;  margin-top: 8px; padding-right: 5px;}

.prWrap .pr_content .right_m .sliderWrap .bx-wrapper {max-width: 100%;}
.prWrap .pr_content .right_m .sliderWrap .bx-wrapper .bx-viewport {width: 100%; overflow: hidden; position: relative;}
.prWrap .pr_content .right_m .sliderWrap .bx-wrapper .bx-viewport .mkv {width: 715%; position: relative; transition-duration: 0.5s; transform: translate3d(-2583px, 0px, 0px);}
.prWrap .pr_content .right_m .sliderWrap .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
    z-index: 9999;
}
.prWrap .pr_content .right_m .sliderWrap .bx-wrapper .bx-prev {
    left: 50px;
    background: url(../img/main/prev_next.png) no-repeat center -1px;
}
.prWrap .pr_content .right_m .sliderWrap .bx-wrapper .bx-next {
    right: 50px;
    background: url(../img/main/prev_next.png) no-repeat center -81px;
}

@media (max-width:1280px) { 
    .body_contents {width: 100%;}
    .prWrap {width: 100%;}
    .prWrap .title {width: 100%;}
    .prWrap .pr_content .right dl {width: calc(50% - 5px);}
    .prWrap .pr_content .right dl:last-child {display: none;}

}
 
@media (max-width:990px) {
    .prWrap {width:100%;} 
    .prWrap .pr_content {display: block; margin-bottom: 50px;}
    .prWrap .pr_content .left {width: 100%; margin-bottom: 20px;}
    .prWrap .pr_content .right {display: none;}
    .prWrap .pr_content .right_m {display: block; width: 100%; padding-left: 0; text-align: center;}
    .prWrap .pr_content .right_m dd a {margin-left: 50px;}
}
@media (max-width:640px) {
    .prWrap .pr_content .right_m .sliderWrap .bx-wrapper .bx-prev {left: 0px;}
    .prWrap .pr_content .right_m .sliderWrap .bx-wrapper .bx-next {right: 0px;}
    
}


@media (max-width:320px) {
}

/* section_03 */
.section_03 {padding: 70px 0; width: inherit; background: #f4f7f3;} 
.section_03 .s03List {width: 1280px; margin: 0 auto; text-align: center;}
.section_03 dl {width: calc(33.33% - 30px); display: inline-block; vertical-align: top; height: 215px; text-align: center; margin: 0 20px;} 
.section_03 dl:first-child {margin-left: 0;}
.section_03 dl:last-child {margin-right: 0;}
.section_03 .s03_01 {background: #e6f2d9;}
.section_03 .s03_02 {background: #fff;}
.section_03 .s03_03 {background:  #2d9d6b;}
.section_03 dl dt {margin: 30px 0 35px 0; font-size: 23px; font-weight: 600;}
.section_03 dl dt::before {display: block; content: ""; width: 60px; height: 60px; background: url(../img/main/s03_icon.png) no-repeat center 2px; margin: 0 auto; margin-bottom: 10px;}
.section_03 .s03_02 dt::before {background-position: center -68px;}
.section_03 .s03_03 dt::before {background-position: center -139px;}
.section_03 .s03_03 {color: #fff;}
.section_03 dl dd a {}
.section_03 .s03_01 dd a {width: 150px; height: 40px; line-height: 40px; display: block; border: 1px solid #25a261; background: #26c48e; color: #fff; margin: 0 auto;}
.section_03 .s03_02 dd a {width: 120px; height: 40px; line-height: 40px; display: block; border: 1px solid #ccc;}
.section_03 .s03_03 dd a {width: 120px; height: 40px; line-height: 40px; display: block; border: 1px solid #333d49; background: #333d49; color: #fff;}
.section_03 .s03_02 dd, .section_03 .s03_03 dd {display: inline-block;}
.section_03 .s03_02 dd:last-child, .section_03 .s03_03 dd:last-child {margin-left: 10px;}

@media (max-width:1280px) { 
    .section_03, .section_03 .s03List {width: 100%;}
}
@media (max-width:990px) { 
    .section_03 {padding:10px 0;}
    .section_03 dl {width: 100%; margin:10px 0;}
}


/*sBanner*/
.sBanner {position: relative; clear: both; max-width: 1280px; width: 1280px; height: 60px; margin: 40px auto; overflow: hidden; float: left; display: inline-flex; left: 50%; transform: translateX(-50%); justify-content:center;}
.sBanner::after {display: block; content: ""; clear: both;}
.sBanner_wrap {width: 1280px; text-align: center; margin: 0 auto;}
.sBanner .banner_control {list-style: none; width: 85px; float: left; padding: 0px; margin-top: 10px;}
.sBanner .banner_control li {margin: 0px; padding: 0px; width: 28px; height: 28px; float: left; display: inline;}
.sBanner .banner_control li a img {border-top: 1px solid #dbdbdb; border-bottom: 1px solid #dbdbdb; border-right: 1px solid #dbdbdb;}
.sBanner .banner_control .prev_banner a img {border-left: 1px solid #dbdbdb;}
.sBanner .banner_img {float: left; padding: 0px; margin: 0px; width: calc(100% - 85px); height: 60px; overflow: hidden; list-style: none; left: 0;} 
.sBanner .banner_img li {float: left; display: inline; font-size: 0; line-height: 0; margin: 0px 0px 0px 10px; width: 160px; height: 60px; padding: 0px; text-align: center;}
.sBanner .banner_img li a img {border: 1px solid #dbdbdb;}
@media (max-width:1280px) { 
    .sBanner, .sBanner_wrap {width: 100%;}
}
@media (max-width:990px) { 
    .sBanner {margin: 20px 0;}
}

/*footer*/
.footer {}
.footer .footer_top {display: inline-flex; margin-top: 18px;}
.footer .footer_top li {}
.footer .footer_top li a {color: #7e8185; padding:15px 25px;}
.footer .footer_top li::after {display: inline-block; content: ""; width: 1px; height: 15px; background: #424a54; vertical-align: middle;}
.footer_bar {display: block; width: 100%; height: 1px; background: #424a54; position: relative; top: -230px;} 