@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Thin.woff2") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-ExtraLight.woff2") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Light.woff2") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Regular.woff2") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Medium.woff2") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Bold.woff2") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-ExtraBold.woff2") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard-Black.woff2") format("woff");
  font-weight: 900;
  font-display: swap;
}

html {
  font-size: 62.5%;
}
:root {
  --bg-primary: linear-gradient(180deg, #ffffff 0%, #f5f9ff 50.77%);
  --clr-primary: #13161c;
  --ff-primary: "Pretendard", sans-serif;
  --fs-primary: 1.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  overflow-x: hidden;
}
.main {
  background: var(--bg-primary);
}
.has-footer {
  padding-bottom: 12rem !important;
}
.has-footer-sub {
  padding-bottom: 7.3rem !important;
}
h2 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}
h3 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.05em;
}
.outer {
  margin-left: -1.8rem !important;
  margin-right: -1.8rem !important;
}
.hr01 {
  height: 0.1rem;
  color: #ebebeb;
  background: #ebebeb;
  border: none;
}
/* badge */
.round-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  font-size: 1.2rem;
  border: 0.1rem solid;
}
.rectangle-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 2.2rem;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  border: 0.1rem solid;
  font-size: 1.3rem;
  font-weight: 600;
}
.rectangle-badge.purple {
  border-color: #785fbd;
  color: #3c199c;
  background: #f3f1ff;
}
.rectangle-badge.blue {
  border-color: #359ecc;
  color: #087cae;
  background: #f1f7ff;
}
.rectangle-badge.green {
  border-color: #2dbb67;
  color: #0e9243;
  background: #e9fbee;
}
/* 버튼 */
.btn-wrap-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.7rem;
}
.btn-wrap-2 .btn {
  min-height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #27a6dd;
  border-radius: 0.6rem;
  font-size: 1.7rem;
  font-weight: 500;
}
.btn-wrap-2 .btn.btn-line {
  color: #27a6dd;
}
.btn-wrap-2 .btn.btn-bg {
  color: #fff;
  background-color: #27a6dd;
}
/* 텍스트 컬러 */
.green-text {
  color: #248400;
}
.blue-text {
  color: #0050c8;
}
.mint-text {
  color: #00a17b;
}
.purple-text {
  color: #4615bb;
}

.dim {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}
.dim.active {
  visibility: visible;
  transition: opacity 0.5s;
  opacity: 1;
}
.dim-alert {
  position: fixed;
  left: 50%;
  top: 160px;
  z-index: 101;
  width: calc(100% - 36px);
  height: 100%;
  transform: translateX(-50%);
  color: #fff;
  display: none;
}
.dim.active + .dim-alert {
  display: block;
}
.modal-close-btn {
  position: absolute;
  right: 0;
  top: -34px;
  width: 30px;
  height: 30px;
}
.dim-alert .alertBox {
  position: relative;
  width: 100%;
}
.dim-alert .alert-text {
  position: relative;
  width: 100%;
  padding: 17px 16px;
  background-color: #27a6dd;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  align-items: center;
  gap: 8px;
  z-index: 2;
}
.dim-alert .alert-text.sec {
  position: absolute;
  animation-duration: 0.5s;
  animation-name: down;
  z-index: 1;
}
@keyframes down {
  from {
    top: 0;
  }
  to {
    top: 66px;
  }
}
.dim-alert .alert-text.up {
  position: absolute;
  animation-duration: 0.5s;
  animation-name: up;
  z-index: 1;
  top: 0;
}
@keyframes up {
  from {
    top: 66px;
  }
  to {
    top: 0;
  }
}
.dim-alert .alert-text span {
}
.dim-btn {
  width: 100%;
  padding: 16px;
  color: #fff;
  background-color: #27a6dd;
  border-radius: 8px;
  letter-spacing: -0.02px;
  line-height: 21px;
  font-size: 16px;
  font-weight: 500;
}

#wrap {
  position: relative;
  padding: 0 1.8rem;
  height: 100%;
  min-height: 100%;
  /* padding-bottom: 12rem; */
}
header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  align-items: center;
}
header .left {
  display: flex;
  align-items: center;
}
header .left > .text {
  font-size: 1.6rem;
  font-weight: 500;
}

header .left label {
  display: flex;
  align-items: center;
  width: 4.6rem;
  height: 2.6rem;
  border-radius: 10rem;
  background: #bfbfbf;
  margin-left: 0.3rem;
  position: relative;
}
header .left label .onoff-btn {
  position: absolute;
  left: 0.3rem;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  transition: left 0.5s;
}
header .left input:checked ~ label {
  background: #27a6dd;
}
header .left input:checked ~ label::after {
  display: block;
  content: "ON";
  font-size: 1.2rem;
  margin-left: 0.4rem;
  color: #fff;
}
header .left input:checked ~ label .onoff-btn {
  left: 50%;
  margin-right: 0.3rem;
}
header .right span {
  display: inline-flex;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 1.6rem;
}
header .right .bell {
  position: relative;
  background: url(../images/bell.png) no-repeat;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
header .right .bell::after {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  content: "";
  background: #e22d2d;
  border-radius: 50%;
  position: absolute;
  top: -0.2rem;
  right: -0.3rem;
}
header .right .search {
  background: url(../images/search.png) no-repeat;
  margin-left: 1.1rem;
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}
/* 홈 */
.main .user {
  padding-bottom: 2.9rem;
}
.main .user-link a {
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  padding-right: 1.4rem;
  line-height: 25px;
  background: url(../images/link-arrow.png) no-repeat center right;
  margin-top: 1.6rem;
}
.main .user .round-badge {
  margin-top: 0.4rem;
  width: 6.8rem;
  height: 2.4rem;
  border-color: #d2d2d2;
  color: #000;
  font-weight: 700;
  letter-spacing: -0.02em;
}
.main .user .round-badge::before {
  display: inline-flex;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background: url(../images/user-round-badge.png) no-repeat;
  margin-right: 0.2rem;
}
.main .img-wrap {
  position: relative;
}
.main .ani-img {
  position: absolute;
  top: -10rem;
  right: 0;
  animation: scaleImg 2s;
}
#character {
  opacity: 0;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: fadeInout;
  animation-fill-mode: forwards;
}
@keyframes fadeInout {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* @keyframes scaleImg {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
} */
.iconBox {
  z-index: 1;
}
.infoBox {
  position: relative;
  height: 0;
  overflow: hidden;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-name: boxShow;
  animation-fill-mode: forwards;
}
@keyframes boxShow {
  from {
    height: 0;
  }

  to {
    height: 7rem;
  }
}
.infoBox a {
  position: absolute;
  top: -5.8rem;
  animation-delay: 1s;
  animation-duration: 0.7s;
  animation-name: btnShow;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes btnShow {
  from {
    top: -5.8rem;
  }
  70% {
    top: 2rem;
  }
  80% {
    top: -0.1rem;
  }
  90% {
    top: 0.5rem;
  }
  to {
    top: 0;
  }
}
.dim-btn {
  width: 100%;
  padding: 16px;
  color: #fff !important;
  background-color: #27a6dd;
  border-radius: 8px;
  letter-spacing: -0.02px;
  line-height: 21px;
  font-size: 16px;
  font-weight: 500;
}
.main .title-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .title-flex .link {
  font-size: 1.4rem;
  font-weight: 500;
  color: #8c8c8c;
  padding-right: 1.6rem;
  background: url(../images/link-arrow02.png) no-repeat right center;
}
.main h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}
.main .service {
  margin-top: 3rem;
}
.main .service .setting {
  color: #8c8c8c;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.1em;
  padding-right: 2rem;
  background: url(../images/setting.png) no-repeat center right;
}
.main .box-shadow {
  border-radius: 1.2rem;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 2px 16px 0px #0000000f;
  background: #fff;
}
.main .service .box-shadow {
  margin-top: 2rem;
}
.main .service .service-lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-row-gap: 2.6rem; */
  place-items: center;
  padding: 1.5rem 0;
}
.main .service .service-lists li {
  padding: 1.5rem 0;
  width: 100%;
  height: 100%;
}
.main .service .service-lists li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.main .service .service-lists li a::before {
  display: block;
  content: "";
  width: 3.4rem;
  height: 3.4rem;
  margin-bottom: 0.8rem;
}
.main .service .service-lists li:nth-child(1) a::before {
  background: url(../images/service-img01.png) no-repeat;
}
.main .service .service-lists li:nth-child(2) a::before {
  background: url(../images/service-img02.png) no-repeat;
}
.main .service .service-lists li:nth-child(3) a::before {
  background: url(../images/service-img03.png) no-repeat;
}
.main .service .service-lists li:nth-child(4) a::before {
  background: url(../images/service-img04.png) no-repeat;
}
.main .service .service-lists li:nth-child(5) a::before {
  background: url(../images/service-img05.png) no-repeat;
}
.main .service .service-lists li:nth-child(6) a::before {
  background: url(../images/service-img06.png) no-repeat;
}
.main .popup-link {
  display: block;
  /* margin-top: 2.9rem; */
}
.main .popup-link img {
  display: block;
  width: 100%;
}

.main .slider {
  margin-top: 2.4rem;
  /* margin-bottom: 3rem; */
}
.swiper {
  width: 100%;
  height: 100%;
}
.main .mySwiper .swiper-slide {
  min-height: 26.6rem;
  background: #fff;
  display: flex;
  flex-direction: column;

  border-radius: 1.2rem;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 3rem;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .swiper-pagination-bullet {
  width: 0.8rem;
  height: 0.8rem;
  background: #b4bcd0;
}
.main .swiper-pagination-bullet-active {
  width: 2rem;
  height: 0.8rem;
  border-radius: 0.4rem;
  background: #27a6dd;
}
.main .mySwiper .my-cont {
  padding: 3rem 2.4rem;
}
.main .my-cont .title-wrap .blue-text {
  display: flex;
  align-items: center;
  color: #27a6dd;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.02em;
}
.main .my-cont .title-wrap .blue-text::before {
  display: inline-block;
  content: "";
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.main .my-cont .title-wrap .blue-text.bt-icon01::before {
  background: url(../images/myicon01.png) no-repeat;
}
.main .my-cont .title-wrap .blue-text.bt-icon02::before {
  background: url(../images/myicon02.png) no-repeat;
}
.main .my-cont .title-wrap .blue-text.bt-icon03::before {
  background: url(../images/myicon03.png) no-repeat;
}
.main .my-cont .title-wrap h4 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  margin-top: 1.3rem;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 2rem;
}
.main .my-cont .price-info {
  padding-top: 2rem;
}
.main .my-cont .price-info dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .my-cont .price-info dl + dl {
  margin-top: 0.8rem;
}
.main .my-cont .price-info dl dt {
  color: #696e77;
  letter-spacing: -0.01em;
}
.main .my-cont .price-info dl dd {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.main .my-cont .price-info .rate.up {
  color: #e40505;
}
.main .my-cont .price-info .rate.up::before {
  display: inline-block;
  content: "";
  width: 1.2rem;
  height: 1.1rem;
  background: url(../images/rate-up.png) no-repeat;
  margin-right: 0.5rem;
}
.main .btn-wrap-2 {
  margin-top: 2rem;
}
.progress {
  margin-top: 3em;
  position: relative;
}
.popover {
  display: inline-block;
  margin-bottom: 0.4rem;
  position: absolute;
  top: -3rem;
  left: 0;
  width: 5.4rem;
  height: 2.6rem;
  background: url(../images/popover.png) no-repeat;
  transition: left 1s;
}
.progress-wrap {
  background: #c8eeff;
  border-radius: 0.7rem;
  height: 1.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.progress-bar {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
  height: 1.4rem;
  width: 0;
  background: linear-gradient(90deg, #2765dd 2.14%, #27d2dd 82.62%);
  transition: width 1s;
}
.progress-bar::after {
  position: absolute;
  right: 0.4rem;
  display: block;
  content: "";
  width: 0.6rem;
  height: 0.6rem;
  background: #fff;
  border-radius: 50%;
}
.scroll-wrap {
  margin-left: -1.8rem;
  margin-right: -1.8rem;
  /* overflow: hidden; */
}
.main .benefit {
  margin-top: 4rem;
}
.main .benefit-lists {
  display: flex;
  gap: 1.8rem;
  overflow-x: scroll;
  white-space: nowrap;
  margin-top: 2rem;
  padding: 0 1.8rem;
  /* margin-right: -1.8rem; */
}
.main .benefit-lists::-webkit-scrollbar {
  display: none;
}
.main .benefit-lists li a {
  display: block;
  width: 19rem;
  height: 21.6rem;
  border-radius: 2rem;
  padding: 2rem 1.8rem;
}
.main .benefit-lists li a p {
  padding: 0.8rem 0.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.01em;
}
.main .benefit-lists li:nth-child(1) a {
  background: #e9f9e3 url(../images/benefit-img01.png) no-repeat right 1.8rem
    bottom 2rem;
}
.main .benefit-lists li:nth-child(2) a {
  background: #e3eef9 url(../images/benefit-img02.png) no-repeat right 1.8rem
    bottom 2rem;
}
.main .benefit-lists li:nth-child(3) a {
  background: #e6f8f3 url(../images/benefit-img03.png) no-repeat right 1.8rem
    bottom 2rem;
}
.main .benefit-lists li:nth-child(4) a {
  background: #f7f3ff url(../images/benefit-img04.png) no-repeat right 1.8rem
    bottom 2rem;
}
.main .bannerSwiper .swiper-slide:nth-child(1) {
  background: #e5ebff url(../images/coffee.png) no-repeat left 1.4rem center /
    8.6rem;
}
.main .bannerSwiper .swiper-slide:nth-child(2) {
  background: #e9f9e3 url(../images/coffee.png) no-repeat left 1.4rem center /
    8.6rem;
}
.main .bannerSwiper .swiper-slide:nth-child(3) {
  background: #e3eef9 url(../images/coffee.png) no-repeat left 1.4rem center /
    8.6rem;
}
.main .bannerSwiper .swiper-slide a {
  display: block;
  padding: 1.2rem 2rem;
  min-height: 12.8rem;
  padding-left: 9.8rem;
}
.main .bannerSwiper .swiper-slide a .text {
  margin-top: 2.2rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.02em;
}
.main .bannerSwiper .swiper-slide a .link-text {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  color: #008f65;
  background: url(../images/link-text.png) no-repeat right center;
  padding-right: 0.8rem;
  margin-top: 1rem;
}
.main .bannerSwiper .swiper-pagination {
  text-align: right;
  padding-right: 4rem;
  padding-bottom: 0.7rem;
  font-size: 1.1rem;
  letter-spacing: -0.1em;
}
.main .bannerSwiper .btn {
  margin-left: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  right: 2rem;
  bottom: 1.2rem;
  z-index: 10;
}
.main .bannerSwiper .stop-btn {
  background: url(../images/banner-stop-btn.png) no-repeat;
}
.main .bannerSwiper .play-btn {
  width: 0.7rem;
  height: 0.7rem;
  border-top: 0.1rem solid #46494f;
  border-left: 0.1rem solid #46494f;
  transform: rotate(135deg);
  right: 2.6rem;
  bottom: 1.7rem;
}
.main .notice {
  margin-top: 2.6rem;
  padding: 2.5rem 2.4rem;
}
.main .notice-lists {
  margin-top: 2rem;
}

.main .notice-lists li dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .notice-lists li dl + dl {
  margin-top: 1.4rem;
}
.main .notice-lists li dl dt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: -0.02em;
}
.main .notice-lists li dl dd {
  margin-left: 1.2rem;
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  color: #696e77;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.footer-lists {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1.6rem 3.2rem;
  box-shadow: 0px -4px 12px 0px #0000000d;
}
.footer-lists li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  color: #8f949e;
  font-weight: 500;
  letter-spacing: -0.01em;
}
.footer-lists li a::before {
  display: block;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  margin-bottom: 0.5rem;
}
.footer-lists li.active a {
  color: #0599d9;
}
.footer-lists li a.home::before {
  background: url(../images/footer-img01.png) no-repeat center;
}
.footer-lists li a.my::before {
  background: url(../images/footer-img02.png) no-repeat center;
}
.footer-lists li a.product::before {
  background: url(../images/footer-img03.png) no-repeat center;
}
.footer-lists li a.bf::before {
  background: url(../images/footer-img04.png) no-repeat center;
}
.footer-lists li a.all::before {
  background: url(../images/footer-img05.png) no-repeat center;
}
.footer-lists li.active a.home::before {
  background: url(../images/footer-img01-on.png) no-repeat center;
}
.footer-lists li.active a.product::before {
  background: url(../images/footer-img03-on.png) no-repeat center;
}

/* 팝업 */
.dimmed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}
.dimmed.open {
  display: block;
}
.popup {
  position: absolute;
  z-index: 101;
  top: 19.8rem;
  padding: 0 1.8rem 3rem;
  width: 100%;
  display: none;
}
.popup.open {
  display: block;
}
.popup .lists li {
  background: #27a6dd;
  border-radius: 0.8rem;
  padding: 2.4rem 2rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.02em;
}
.popup .lists li + li {
  margin-top: 0.8rem;
}
.popup .lists li::before {
  display: inline-block;
  width: 2.3rem;
  height: 2.3rem;
  content: "";
  background: url(../images/notice.png) no-repeat;
  margin-right: 0.8rem;
}
.popup .close-btn {
  width: 3rem;
  height: 3rem;
  background: url(../images/close-btn.png) no-repeat;
  border: none;
  position: absolute;
  right: 1.8rem;
  top: -4.6rem;
}

/* 간편 홈 */
#wrap.easy header .right span {
  width: auto;
}
#wrap.easy header .right .bell,
#wrap.easy header .right .search {
  background: none;
}
#wrap.easy .user .user-link a {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.01em;
}
#wrap.easy .user .go-btn {
  margin-top: 0.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 15.7rem;
  min-height: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  border-radius: 0.3rem;
  border: 1px solid #c9c9c9;
  color: #787878;
}
#wrap.easy .user {
  position: relative;
}
#wrap.easy .user::before {
  display: block;
  content: "";
  width: 7.3rem;
  height: 11rem;
  background: url(../images/easy-home-img.png) no-repeat;
  position: absolute;
  right: 0;
  bottom: -4rem;
  z-index: 10;
}
#wrap.easy .swiper-slide {
  background: #0097d9;
}
#wrap.easy .swiper-slide .my-cont .title-wrap .blue-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
#wrap.easy .swiper-slide .my-cont .title-wrap h4 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  border-color: #10a2e1;
}
#wrap.easy .swiper-slide .my-cont .price-info dt {
  font-size: 1.8rem;
  color: #fff;
}
#wrap.easy .swiper-slide .my-cont .price-info dd {
  font-size: 1.8rem;
  color: #fff;
}
#wrap.easy .swiper-slide .my-cont .btn-wrap-2 .btn {
  border: none;
  font-weight: 600;
}
#wrap.easy .swiper-slide .my-cont .btn-line {
  background: #fff;
  color: #393939;
}
#wrap.easy .swiper-slide .my-cont .btn-bg {
  background: #004968;
}
#wrap.easy .service {
  margin-top: 1.5rem;
}
#wrap.easy .service .service-lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.9rem;
}
#wrap.easy .service .service-lists li {
  padding: 0;
}
#wrap.easy .service .service-lists li a {
  height: 8rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 1.2rem;
  box-shadow: 0px 2px 16px 0px #0000000f;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.04em;
}
#wrap.easy .service .service-lists li a::before {
  width: 2.8rem;
  height: 2.8rem;
  background-size: 2.8rem;
  margin-bottom: 0;
  margin-right: 0.8rem;
}
#wrap.easy .easy-notice {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0px 2px 16px 0px #0000000f;
  border-radius: 1.2rem;
  min-height: 7rem;
}
#wrap.easy .easy-notice a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  letter-spacing: -0.04em;
  background: url(../images/link-arrow.png) no-repeat right 2rem center;
}
#wrap.easy .easy-notice a::before {
  display: inline-block;
  content: "";
  margin-right: 0.8rem;
  width: 2.6rem;
  height: 3rem;
  background: url(../images/easy-notice01.png) no-repeat left center;
}
#wrap.easy .easy-notice a::after {
  display: inline-block;
  content: "";
  background: url(../images/link-arrow.png) no-repeat;
}

/* 금융상품 */
.tab-menu .tab-lists {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(25%, auto));
  margin-left: -1.8rem;
  margin-right: -1.8rem;
  border-bottom: 0.1rem solid #ececec;
}
.tab-menu .tab-lists li {
  width: 100%;
  height: 100%;
  text-align: center;
}
.tab-menu .tab-lists li a {
  display: block;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  color: #696e77;
  padding: 1.5rem 0;
}
.tab-menu .tab-lists li.active a {
  color: #1e1e1e;
  font-weight: 600;
  border-bottom: 0.3rem solid #1e1e1e;
}
.tab-menu .cont-area .cont {
  display: none;
}
.tab-menu .cont-area .cont.active {
  display: block;
}
.finance .slider {
  margin-top: 2.8rem;
}
.finance .swiper-slide {
  width: 33.9rem;
  height: 32rem;
}
.finance .swiper-slide a {
  width: 100%;
  height: 100%;
  display: block;
  padding: 2.4rem;
  border-radius: 1.6rem;
}
.finance .swiper-slide:nth-child(1) a {
  background: #e2eeff url(../images/slide-img-01.png) no-repeat right bottom;
}
.finance .swiper-slide:nth-child(2) a {
  background: #e2ffe3 url(../images/slide-img-01.png) no-repeat right bottom;
}
.finance .swiper-slide:nth-child(3) a {
  background: #ffe2ed url(../images/slide-img-01.png) no-repeat right bottom;
}
.finance .swiper-slide a .text-badge {
  color: #0599d9;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.05em;
}
.finance .swiper-slide a .title {
  margin-top: 2rem;
  color: #1e1e1e;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  line-height: 3.4rem;
}
.finance .swiper-slide a .tag {
  margin-top: 1.2rem;
  color: #1e1e1e;
  letter-spacing: -0.05em;
}
.finance .swiper-pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.9rem;
  width: 4rem;
  height: 1.8rem;
  left: 2.4rem;
  bottom: 2.4rem;
  background: #3d3d3d;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}
.finance span.swiper-pagination-total {
  font-weight: 400;
}
.finance span.swiper-pagination-current {
  font-weight: 600;
}
.finance .slider .btn {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  position: absolute;
  bottom: 2.4rem;
  left: 6.8rem;
  z-index: 10;
}
.finance .slider .stop-btn {
  background: #3d3d3d url(../images/stop-btn.png) no-repeat center;
}
.finance .slider .play-btn {
  background: #3d3d3d url(../images/play-btn.png) no-repeat center;
}
.finance .subtab-menu {
  margin-top: 4rem;
}
.subtab-menu .subtab-lists {
  display: flex;
  gap: 0.6rem;
  overflow-x: scroll;
  padding: 0 1.8rem 0 0;
}
.subtab-menu .subtab-lists::-webkit-scrollbar {
  display: none;
}
.subtab-menu .subtab-lists li a {
  display: block;
  border: 1.5px solid #e6e6e6;
  border-radius: 2rem;
  padding: 1rem 1.6rem;
  white-space: nowrap;
  color: #8c8c8c;
  font-size: 1.6rem;
  letter-spacing: -0.05em;
}
.subtab-menu .subtab-lists li.active a {
  color: #27a6dd;
  border: 2px solid #27a6dd;
  /* -webkit-tap-highlight-color: transparent; */
}
.subtab-menu .subtab-lists li a .num {
  margin-left: 0.4rem;
}
.finance .subtab-menu .subcont-area {
  margin-top: 2.4rem;
}
.finance .subtab-menu .subcont-area .subcont {
  display: none;
}
.finance .subtab-menu .subcont-area .subcont.active {
  display: block;
}
.pr-lists li {
  position: relative;
}
.pr-lists li + li {
  margin-top: 3rem;
}
.pr-lists li a {
  display: block;
  padding: 0 1.8rem 3rem;
}

.pr-lists li .title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #13161c;
  margin-top: 1.7rem;
}
.pr-lists li .info {
  font-size: 1.4rem;
  letter-spacing: -0.02em;
  color: #696e77;
  margin-top: 0.9rem;
}
.pr-lists li .bookmark {
  position: absolute;
  top: 0;
  right: 1.8rem;
  width: 2.8rem;
  height: 2.8rem;
  background: url(../images/bookmark.png) no-repeat;
}
.pr-lists li .bookmark.active {
  background: url(../images/bookmark-active.png) no-repeat;
}

/* 서브페이지 */
.sub header a {
  display: inline-flex;
  width: 2.4rem;
  height: 2.4rem;
}
.sub header .left .prev {
  background: url(../images/prev.png) no-repeat;
}
.sub header .right .home {
  background: url(../images/home.png) no-repeat;
}
.sub .popover {
  width: 6.6rem;
  background: url(../images/popover-02.png) no-repeat;
}

.sub .top .round-badge {
  background: #e6f3ff;
  border: 1px solid #27a6dd;
  color: #27a6dd;
  font-weight: 600;
  min-width: 3.7rem;
  min-height: 2.2rem;
}
.sub .top .pr-name .title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}
.sub .top .pr-name .num {
  font-size: 1.3rem;
  font-weight: 400;
  color: #696e77;
  margin-top: 0.9rem;
}
.sub .top .price {
  margin-top: 2rem;
}
.sub .top .price dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #282828;
}
.sub .top .price dl + dl {
  margin-top: 1.1rem;
}
.sub .top .price dl dt::before {
  display: inline-block;
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.6rem;
}
.sub .top .price dl dt.won::before {
  background: url(../images/won.png) no-repeat center;
}
.sub .top .price dl dt.star::before {
  background: url(../images/star.png) no-repeat center;
}
.sub .top .price dl dt {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.sub .top .price dl dd {
  font-size: 1.8rem;
  font-weight: 700;
}
.sub .info .bottom {
  margin-top: 2rem;
  border-top: 1px solid #ebebeb;
}
.sub .info .bottom .prg-info {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.sub .info .bottom .prg-info li {
  display: flex;
  align-items: center;
  position: relative;
}
.sub .info .bottom .prg-info .line {
  width: 0.1rem;
  height: 0.8rem;
  background: #e6e6e6;
}
.sub .info .bottom .prg-info li span.title {
  padding-left: 2rem;
  font-weight: 400;
}
.sub .info .bottom .prg-info li span::before {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.6rem;
}
.sub .info .bottom .prg-info span.num {
  margin-left: 2.5rem;
  font-weight: 500;
}
.sub .info .bottom .prg-info li.payment span::before {
  background: linear-gradient(45.81deg, #27a6dd 1.09%, #27d2dd 72.95%);
}
.sub .info .bottom .prg-info li.remain span::before {
  background: #c8eeff;
}
.sub .detail-lists {
  background: #f1f3fa;
  margin: 0 -1.8rem;
  padding: 3rem 0 4rem 0;
}

.detail-lists .accordion {
  background: #fff;
  border-radius: 1.2rem;
  margin: 0 1.8rem;
}
.detail-lists .accordion + .accordion {
  margin-top: 1rem;
}

.accordion .top {
  padding: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* cursor: pointer; */
}
.accordion .top .title {
  font-size: 1.6rem;
  font-weight: 500;
}
.accordion .toggle-btn {
  width: 2.4rem;
  height: 2.4rem;
}
.accordion .toggle-btn {
  background: url(../images/arrow-bottom.png) no-repeat;
}
.accordion.open {
  border: 1.5px solid #27a6dd;
}
.accordion.open .toggle-btn {
  background: url(../images/arrow-top.png) no-repeat;
}
.accordion .bottom {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  padding: 0 1.9rem;
  position: relative;
}
.accordion .bottom > li:first-child::before {
  display: block;
  content: "";
  width: 100%;
  height: 0.1rem;
  background: #d8dbe0;
  position: absolute;
  left: 0;
  right: 0;
}
.accordion .bottom > li:first-child {
  margin-top: 0;
}
.accordion .bottom > li {
  margin-top: 3rem;
}
.accordion .bottom > li:last-child {
  padding-bottom: 3rem;
}
.accordion .bottom .title {
  font-size: 1.8rem;
  font-weight: 600;
}
.accordion .bottom > li:first-child .title {
  padding-top: 2.4rem;
}
.accordion .bottom dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.6rem;
}
.accordion .bottom dl dd {
  letter-spacing: -0.01em;
}
.accordion .bottom dl dt {
  color: #696e77;
  letter-spacing: -0.01em;
}

/* 설계함 */
.plan-box img {
  width: 100%;
  height: 100%;
}

/* 검색-조회 */
#wrap.search-page {
  background: var(--bg-primary);
  height: 100vh !important;
}
.search-page header {
  width: 100%;
  justify-content: flex-start;
}
.search-page header .search-box {
  margin-left: 0.8rem;
  width: calc(100% - 3.2rem);
  position: relative;
}
.search-page header .search-box input {
  font-family: var(--ff-primary);
  width: 100%;
  height: 4.2rem;
  border: 0.1rem solid #c8c8c8;
  border-radius: 2.1rem;
  color: #000;
  font-size: 1.8rem;
  padding: 0 1.8rem;
}
.search-page header .search-box .clear-btn {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  right: 4.2rem;
  transform: translateY(-50%);
  background: url(../images/input-clear.png) no-repeat center;
}
.search-page header .search-box .search-btn {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  right: 1.6rem;
  transform: translateY(-50%);
  background: url(../images/search-icon.png) no-repeat center;
}
.search-page main section {
  margin-top: 3.2rem;
}
.search-page .recently h3 {
  font-weight: 600;
}
.search-page main section:not(.recently) h3 {
  margin-bottom: 1.9rem;
  font-weight: 600;
}
.search-page .recently .title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.9rem;
}
.search-page .recently .delete-btn {
  color: #8c8c8c;
  font-size: 1.4rem;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
.search-page section:not(.popular) .searchword-lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem;
}
.search-page section:not(.popular) .searchword-lists li {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.9rem 1.2rem;
  min-height: 4rem;
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  border-radius: 2.4rem;
}
.search-page .recently .searchword-lists li {
  background: #f0f0f0;
}
.search-page .recently .searchword-lists li .del {
  width: 1rem;
  height: 1rem;
  background: url(../images/searchword-del.png) no-repeat center;
  margin-left: 0.8rem;
}
.search-page .recommand h3 .blue-text {
  color: #0097d9;
}
.search-page .recommand .searchword-lists li {
  border: 1px solid #dddddd;
  background: #fff;
}
.search-page .recommand .searchword-lists li::before {
  display: inline-block;
  content: "#";
}
.search-page .popular .lists-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.search-page .popular .searchword-lists li + li {
  margin-top: 1.6rem;
}
.search-page .popular .searchword-lists li .num {
  margin-right: 1.2rem;
  font-weight: 600;
}
.search-page .popular .searchword-lists li .num.ten {
  margin-right: 0.6rem;
}
.search-page .popular .searchword-lists.left li:first-child .num {
  color: #0097d9;
}
