@charset "UTF-8";
* {margin: 0; padding: 0;}
ul li {list-style: none;}
/* .clearfix::after {content: ''; display: block; clear: both;} */
body {background-color: rgb(51, 14, 85); overflow-y:scroll;}
header {margin-top: 20px; background: linear-gradient(white 50px, rgba(255,255,255,.5) 50px, rgba(255,255,255,.5));height: 50px; overflow: hidden;}

nav {width: 960px; margin: 0 auto;}
nav > ul.mainmenu {display: flex; justify-content: center; }
nav > ul.mainmenu > li {line-height: 50px;}
nav > ul > li + li {margin-left: 80px;}