@charset "utf-8";

.wrap {
    width: 1902px;
    margin: auto;
}
.header {
    height: 955px;
    position: relative;
}
.logo {
    position: absolute;
    top:25px;
    left:30px;
    width:200px;
    height: auto;
}
.nav {
    position: absolute;
    top: 40px;
    right: 20px;
}
.nav ul li {
    float: left;
    margin-left: 35px;
}
.nav ul li:first-child {
    border: 1px solid #fff;
    padding: 10px;
    margin-top: -10px;
}
.nav ul li a {
    color: #fff;
    font-size: 16px;
} 
.men {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    margin-top:-3px;
}
.top_txt p:nth-child(2) {
   margin-bottom: 15px;
}
.left_img {
    float: left;
    width:50%;
    height: 955px;
    background-image: url(../images/top_img01.jpg); 
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.t01 {
    position: absolute;
    left: 30px;
    bottom: 25px;
}
.right_img01 {
    float: right;
    width:50%;
    height: 477.5px;
    background-image: url(../images/top_img02.jpg); 
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
.t02 {
    position: absolute;
    left: 30px;
    bottom: 25px;
    width: 700px;
}
.right_img02 {
    float: right;
    width:50%;
    height: 477.5px;
    background-image: url(../images/top_img03.jpg); 
    background-size:cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative;
}
.t03 {
    position: absolute;
    left: 30px;
    bottom: 25px;
}

.help{
    height: 820px;
    position: relative;
}
.help_txt {
    width: 50%;
    font-size: 36px;
    color: #22303d;
}
.help_txt p {
    width: 555px;
    position: absolute;
    line-height: 1.6em;
}
.help_txt p:nth-child(2) {
    top: 305px;
    left: 365px;
}
.help_txt p:nth-child(3) {
    top: 420px;
    left: 365px;
}
.help_txt span {
    font-size: 57px;
}
.help_txt ul li {
    width:30px;
    float: left;
    margin-right: 20px;
}
.help_txt h1 {
    position: absolute;
    top: 105px; 
    left: 365px;
    letter-spacing: 3px;
    line-height: 1.6em;
}
.help_txt .sns {
    position: absolute;
    top: 615px;
    left: 365px;
}
.help_txt .sns img {
    width: 30px;
    height: 30px;
}
.help_img {
    float: left;
}
.help01 {
    width: 240px;
    height: 240px;  
    position: absolute;
    top: 165px; 
    right: 690px;
}
.help02 {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 105px; 
    right: 365px;
}
.help03 {
    width: 165px;
    height: 165px;
    position: absolute;
    top: 430px; 
    right: 690px;
}
.help04 {
    width: 230px;
    height: 230px;
    position: absolute;
    top: 430px; 
    right: 435px;
}

.world {
    position: relative;
    height: 870px;
    background-image: url(../images/world.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.world_txt {
    position: absolute;
    top:210px;
    left: 175px;
}
.world h2{
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin-bottom: 75px;
}
.world p {
    width: 510px;
    line-height: 1.5em;
    margin-bottom: 75px;
}

.travel {
    height: 475px;
}
.travel p:nth-child(3) {
    margin-top: 15px;
    line-height: 1.5em;
}
.travel01 {
    position: relative;
    float: left;
    width: 25%;
    height: 475px;
    background-image: url(../images/travel01.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: content-box;
    background-size: cover;
}
.tr01 {
    position: absolute;
    top:25px;
    left:30px;
} 
.travel02 {
    position: relative;
    float: left;
    width: 25%;
    height: 475px;
    background-image: url(../images/travel02.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: content-box;
    background-size: cover;
}
.travel03 {
    position: relative;
    float: left;
    width: 25%;
    height: 475px;
    background-image: url(../images/travel03.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: content-box;
    background-size:cover;
}
.travel04 {
    position: relative;
    float: left;
    width: 25%;
    height: 475px;
    background-image: url(../images/travel04.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: content-box;
    background-size: cover;
}
.btn_black {
    padding: 5px 10px;
    background-color: #000;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    left:0;
}


.journals {
    background-color: #fff;
    height: 1990px;
    background-image: url(../images/journals.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: content-box;
    background-size: 100%;
}
.journals_top {
    text-align: center;
}
.journals h2 {
    font-size: 45px;
    text-transform: uppercase;
    color: #1c2e3c;
    text-align: center;
    margin-bottom: 65px;
    letter-spacing: 2px;
    padding-top: 150px;
}
.j_img {
    width: 365px;
    height: 365px;
}
.journals_top>p:nth-child(2) {
    margin: 0 auto;
    width:880px;
    line-height: 2.0em;
}
.j_btn {
    margin-top: 65px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.j_btn .all {
    background-color: #f4aea2;
    width:75px !important;
}
.j_btn li {
    float: left;
    margin-right: 10px;
    width:95px;
    height: 30px;
    background-color: #e0e5e9;
    border-radius: 25px;
    text-align: center;
    line-height: 30px;
}
.j_btn li a {
    color: #547193;
}
.j_btn li:nth-child(1) a{
    color: #fff;
}


.product {
    clear: both;
}
.product ul {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.p_top {
    padding-top: 65px;
}
.p_bottom {
    margin-top: 40px;
}
.product ul li {
    float: left;
    width: 365px;
    height: 575px;
    margin-right: 45px;
    background-color: #fff;
    position: relative;
}
.product ul li:nth-child(3) {
    margin-right: 0px !important;
}
.p_bottom {
    clear: both;
}
.btn_b {
    padding: 8px 10px;
    background-color: #000;
    position: absolute;
    top:10px;
    left: 10px;
    font-size: 10px;
}
.product h3 {
    line-height: 1.5em;
    clear: both;
    margin-top: 30px;
}
.p_txt {
    position: absolute;
    left: 35px;
    padding-top: 35px;
}
.gray_txt {
    color: #a7aebe !important;
}
.chat {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #6c707b;
}
.chat img {
    width:20px;
    margin-right: 10px;
    position: relative;
    top:5px;
}
.chat p {
    display: inline-block;
}
/* .product .share {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width:20px;
} */
.btn_j {
    margin-top: 120px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.greece {
    height: 680px;
    background-image: url(../images/greece.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    background-size: 100%;
    text-align: center;
}
.greece h2 {
    font-size: 40px;
    padding-top: 190px;
}
.greece>p {
    width:1140px;
    margin: 70px auto;
    line-height: 1.5em;
}
.greece_img {
    height: 740px;
}
.btn_greece {
    padding: 8px 10px;
    background-color: #000;
    position: absolute;
    top:10px;
    left: 10px;
}
.greece_img li {
    width:25%;
    height: 740px;
    position: relative;
    float: left;
    font-size: 10px;
}
.g_txt {
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
}
.g_txt h3 {
    clear: both;
    margin-top: 30px;
    margin-bottom: 25px;
}

.city {
    height: 955px;
}
.city_left {
    background-image: url(../images/city01.jpg);
    background-size:cover; 
    width: 951px;
    display:table;
    height: 955px;
    position: absolute; 
}
.dark {    
    height: 955px;
    background-color: rgba(28, 45, 61, 0.8);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.city_left h2 {
    font-size: 60px;
}
.city_left p {
    width: 540px;
    margin: 70px auto;
}
.city_right {
    position: relative;
    float: right;
    width: 951px;
}
.cr_img01 {
    background-image: url(../images/city02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cr_img02 {
    background-image: url(../images/city03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.city_right>div {
    width:475.5px;
    height: 477.5px;
    float: left;
}
.c_box p {
    margin-left: 80px;
}
.c_box p:nth-child(1){
    margin-top: 209px;
}

.post {
    height: 805px;
    margin: 0px auto;
    position: relative;
    top: 140px;
}
.post_left {
    width: 50%;
    float: left;
    margin-left: 365px;
    position: absolute;
}
.post_left h2 {
    font-size: 42px;
    margin-bottom: 60px;
}
.post_left p {
    width: 550px;
}
.post_left p:nth-child(3) {
    margin-top: 40px;
    margin-bottom: 60px;
}
.post_right {
    width: 50%;
    float: right;
    position: relative;
    left: 20px;
}
.pr_img{
    width: 180px;
    height: 150px;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 40px;
}
.pr_txt {
    width: 360px;
    float: right;
    margin-right: 365px;
}
.pr_txt ul {
    position: relative;
}
.pr_txt ul li {
    position: absolute;
}
.pr_txt ul li:nth-child(1) {
    top: -10px;
    right:100px;
}
.vl {
    border-left: 1px solid #77acbe;
    height: 20px;
    top:-15px;
    right: 82px;
}
.pr_txt ul li:nth-child(3) {
    top: -10px;
    right:40px;
}
.sb {
    position: absolute;
    left: -10px;
}

.italy {
    clear: both;
    height: 1553px;
}
.italy_left {
    width: 50%;
    float: left;
}
.italyLeft_top {
    height: 960px;
    position: relative;
}
.il01 {
    width: 961px;
    height: 697px;
}
.ilt_txt {
    margin :30px 40px 0;
}
.italy h4 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.italyLeft_bottom {
    height: 593px;;
}
.lb_left {
    height: 593px;
    width: 50%;
    float: left;
    position: relative;
}
.lb_right {
    height: 593px;
    width: 50%;
    float: right; 
    position: relative;  
} 
.two_img {  
    width: 475.5px;
    height: 330px;
}
.ilb_txt {
    width: 475px;
    margin :30px 40px 0;
}
.ilb_txt p {
    width: 375px;
}
.italy_right {
    width: 50%;
    float: right;
}
.italyRight_top {
    height: 593px;
}
.rt_left {
    height: 593px;
    width: 50%;
    float: left;
    position: relative;
}
.rt_right {
    height: 593px;
    width: 50%;
    float: left;
    position: relative;
}
.italyRight_bottom {
    height: 960px;
    position: relative;
}

.lifestyle {
   height: 743px;
}
.life_left {
    width: 50%;
    float: left;
    background-image: url(../images/life_back.jpg);
    background-size:cover; 
    height: 743px;
    text-align: center;  
}
.life_dark {
    background-color: rgba(65, 68, 73, 0.97);
    height: 743px;
}
.ll_txt {
    position: relative;
    top: 170px;
}
.ll_center {
    margin-left: 88px;
    margin-right: 88px;
}
.life_right {
    width: 50%;
    height: 743px;
    position: relative;
    float: right;
}
.life02 {
    height: 477px;
}

.insta {
    height: 1778px;
    background-image: url(../images/insta_back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.insta h2 {
    text-align: center;
    font-size: 30px;
    padding-top: 140px;
}
.insta_img {
    text-align: center;
    margin-top: 90px;
}
.insta_img img {
    margin-right: 43px;
    width: 262px;
    height: 288px;
}
.insta_img img:nth-child(4) {
    margin-right: 0;
}
.arrow_left {
    position: absolute;
    top: 400px;
    left: 357px;
}
.arrow_right {
    position: absolute;
    top: 400px;
    right: 358px;
}
.insta_txt {
    text-align: center;
    margin-top: 785px;
   
}
.insta_txt h3 {
    font-size: 30px;
}
.insta .sns {
    position: absolute;
    top:1493px;
    left: 860px;
}
.insta_txt .sns img {
    width: 30px;
    height: 30px;
}
.insta_txt .sns li {
    float: left;
    margin-right: 20px;
}
.nav_bottom {
    position: absolute;
    left: 700px;
    bottom: 150px ;
    font-size: 14px;
}
.nav_bottom li {
    float: left;
    margin-right: 40px;
}
.nav_bottom li:last-child {
    margin-right: 0;
}
.nav_bottom a {
    color: #fff;
}
.insta_txt p{
    position: absolute;
    bottom: 55px;
    left: 885px;
}
.up {
    position: absolute;
    bottom: 47px;
    right: 40px;
}

.lh15 {
    line-height: 1.5em;
}
.fl {
    float: left;
}
.mt25 {
    margin-top: 25px;
}
.mr10 {
    margin-right: 10px;
}
.ml10 {
    margin-left: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.txt_upp {
    text-transform: uppercase;
} 
.txt_cap {
    text-transform: capitalize;
}
.p10 {
    font-size: 10px;
}
.p11 {
    font-size: 11px;
}
.p12 {
    font-size: 12px;
}
.p13 {
    font-size: 13px;
}
.p15 {
    font-size: 15px;
}
.p16 {
    font-size: 16px;
}
.p19 {
    font-size: 19px;
}
.p20 {
    font-size: 20px;
}
.p22 {
    font-size: 22px;
}
.btn {
    padding: 20px 50px;
    border: 2px solid #fff;
}
.btn_sky {
    padding: 20px 50px;
    border: 2px solid #77acbe;
}
.white_txt {
    color:#fff;
}
.skyblue_txt {
    color: #77acbe;
}
.apricot_txt {
    color: #f6a9a1;
}
.skyblue_box {
    background-color: #77acbe;
}
.apricot_box {
    background-color: #f6a9a1;
}
.txt_margin {
    margin :30px 40px 0;
}

.share {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width:20px;
}
.noto {
    font-family: 'Noto Sans KR', sans-serif;
}
.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}
.rubik {
    font-family: 'Rubik', sans-serif;
}

/* .top_img02 {background: url(/images/top_img02.jpg) no-repeat center top; background-size:cover;}
.top_img03 {background: url(/images/top_img03.jpg) no-repeat center top; background-size:cover;} */

